Movies/Chaos.Movies.Model/Connected Services/ChaosMovieService/ChaosMoviesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Globalization" />
  <xs:complexType name="UserSessionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveForm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActiveTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSessionDto" nillable="true" type="tns:UserSessionDto" />
  <xs:complexType name="UserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLogin" nillable="true" type="tns:UserLogin" />
  <xs:complexType name="CharacterDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="ExternalLookups" nillable="true" type="q1:ReadOnlyCollectionOfExternalLookupDto_PbigN1rX" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="Images" nillable="true" type="q2:ReadOnlyCollectionOfIconDto_PbigN1rX" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterDto" nillable="true" type="tns:CharacterDto" />
  <xs:complexType name="ArrayOfExternalLookupDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalLookupDto" nillable="true" type="tns:ExternalLookupDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalLookupDto" nillable="true" type="tns:ArrayOfExternalLookupDto" />
  <xs:complexType name="ExternalLookupDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalSource" nillable="true" type="tns:ExternalSourceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalLookupDto" nillable="true" type="tns:ExternalLookupDto" />
  <xs:complexType name="ExternalSourceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CharacterAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EpisodeAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenreAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeopleAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalSourceDto" nillable="true" type="tns:ExternalSourceDto" />
  <xs:complexType name="ArrayOfIconDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IconDto" nillable="true" type="tns:IconDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIconDto" nillable="true" type="tns:ArrayOfIconDto" />
  <xs:complexType name="IconDto">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Data" nillable="true" type="q3:Binary" />
      <xs:element minOccurs="0" name="IconType" nillable="true" type="tns:IconTypeDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Image" nillable="true" type="q4:Binary" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IconDto" nillable="true" type="tns:IconDto" />
  <xs:complexType name="IconTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="Titles" nillable="true" type="q5:ReadOnlyCollectionOfLanguageTitleDto_PbigN1rX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IconTypeDto" nillable="true" type="tns:IconTypeDto" />
  <xs:complexType name="ArrayOfLanguageTitleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageTitleDto" nillable="true" type="tns:LanguageTitleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageTitleDto" nillable="true" type="tns:ArrayOfLanguageTitleDto" />
  <xs:complexType name="LanguageTitleDto">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Globalization" minOccurs="0" name="Language" nillable="true" type="q6:CultureInfo" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageTitleDto" nillable="true" type="tns:LanguageTitleDto" />
  <xs:complexType name="ArrayOfCharacterDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterDto" nillable="true" type="tns:CharacterDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterDto" nillable="true" type="tns:ArrayOfCharacterDto" />
</xs:schema>