Movies/Chaos.Movies.Model/Connected Services/ChaosMovieService/ChaosMoviesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" />
  <xs:complexType name="ReadOnlyCollectionOfExternalLookupDto_PbigN1rX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadOnlyCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExternalLookupDto" Namespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" name="list" nillable="true" type="q1:ArrayOfExternalLookupDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyCollectionOfExternalLookupDto_PbigN1rX" nillable="true" type="tns:ReadOnlyCollectionOfExternalLookupDto_PbigN1rX" />
  <xs:complexType name="ReadOnlyCollectionOfIconDto_PbigN1rX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadOnlyCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="IconDto" Namespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" name="list" nillable="true" type="q2:ArrayOfIconDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyCollectionOfIconDto_PbigN1rX" nillable="true" type="tns:ReadOnlyCollectionOfIconDto_PbigN1rX" />
  <xs:complexType name="ReadOnlyCollectionOfLanguageTitleDto_PbigN1rX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReadOnlyCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LanguageTitleDto" Namespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" name="list" nillable="true" type="q3:ArrayOfLanguageTitleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadOnlyCollectionOfLanguageTitleDto_PbigN1rX" nillable="true" type="tns:ReadOnlyCollectionOfLanguageTitleDto_PbigN1rX" />
</xs:schema>