Movies/Chaos.Movies.Model/Connected Services/ChaosMovieService/ChaosMoviesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChaosMoviesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IChaosMoviesService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract.Dto" />
      <xsd:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChaosMoviesService_CreateUserSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserSession" />
  </wsdl:message>
  <wsdl:message name="IChaosMoviesService_CreateUserSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IChaosMoviesService_CharacterSave_InputMessage">
    <wsdl:part name="parameters" element="tns:CharacterSave" />
  </wsdl:message>
  <wsdl:message name="IChaosMoviesService_CharacterSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CharacterSaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IChaosMoviesService">
    <wsdl:operation name="CreateUserSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IChaosMoviesService/CreateUserSession" message="tns:IChaosMoviesService_CreateUserSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChaosMoviesService/CreateUserSessionResponse" message="tns:IChaosMoviesService_CreateUserSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharacterSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IChaosMoviesService/CharacterSave" message="tns:IChaosMoviesService_CharacterSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChaosMoviesService/CharacterSaveResponse" message="tns:IChaosMoviesService_CharacterSave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChaosMoviesService" type="tns:IChaosMoviesService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IChaosMoviesService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserSession">
      <soap:operation soapAction="http://tempuri.org/IChaosMoviesService/CreateUserSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharacterSave">
      <soap:operation soapAction="http://tempuri.org/IChaosMoviesService/CharacterSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChaosMoviesService">
    <wsdl:port name="BasicHttpBinding_IChaosMoviesService" binding="tns:BasicHttpBinding_IChaosMoviesService">
      <soap:address location="https://localhost:44318/ChaosMoviesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>