Movies/Chaos.Movies.Model/Connected Services/ChaosMovieService/ChaosMoviesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chaos.Movies.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost:44318/ChaosMoviesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="UserSessionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveForm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActiveTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSessionDto" nillable="true" type="tns:UserSessionDto" />
  <xs:complexType name="UserLoginDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginDto" nillable="true" type="tns:UserLoginDto" />
  <xs:complexType name="CharacterDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Images" nillable="true" type="tns:ArrayOfIconDto" />
      <xs:element minOccurs="0" name="ImdbId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterDto" nillable="true" type="tns:CharacterDto" />
  <xs:complexType name="ArrayOfIconDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IconDto" nillable="true" type="tns:IconDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIconDto" nillable="true" type="tns:ArrayOfIconDto" />
  <xs:complexType name="IconDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Image" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IconDto" nillable="true" type="tns:IconDto" />
</xs:schema>